import java.util.*;
public class Contraseña {

    public static void main(String[] args) {
        Scanner sc = new Scanner(System.in);
        String a = "Hola";
        System.out.println("Ingresa el numero a comparar");
        String c = sc.nextLine();
        for(int x=1;x<=3;x++){
        if (a.equals (c)) {
            System.out.println("Si son iguales");
            break;
        } else {
            System.out.println("no son iguales");
            System.out.println("ingresa otra contraseña");
            c=sc.nextLine();
        }
        }
    }
}
